<h1>Countries</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Abbr</th>
      <th scope="col">Population</th>
      <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of countries">
      <td >{{country.id}}</td>
      <td>{{country.name}}</td>
      <td>{{country.abbr}}</td>
      <td>{{country.population}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
